{% extends "base.html" %}

{% block content %}
  <body>
  <h2>Обо мне</h2>
<!--    <h1>-->
<!--      <label id="TIME">-->
<!--      </label>-->
<!--    </h1>-->
  <br><br>
  <p>Меня зовут Александр Седов. <br>Мне 34 года</p>
  </body>

{% endblock %}

<!--<script>-->
<!--    var myDate = new Date();-->
<!--    var hrs = myDate.getHours();-->
<!--    var mins = date.getMinutes();-->
<!--    var greet;-->

<!--    if (hrs >= 5 && ((hrs == 5 && mins >= 30) || (hrs > 5 && hrs < 12)))-->
<!--      greet = 'Доброе утро!';-->
<!--    else if (hrs >= 12 && hrs < 18)-->
<!--      greet = 'Добрый день!';-->
<!--    else if ((hrs >= 18 && hrs < 24) || hrs > 0)-->
<!--      greet = 'Добрый вечер!';-->
<!--    else-->
<!--      greet = 'Ошибка';-->
<!--</script>-->